<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/handlebars.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="/images/brand.png" style="width: 25px; width: 25px; float: left">
            Mobilbutikken</a>
        </div>
        <ul class="nav navbar-nav">
            <!-- class="active" -->
            <li><a href="/">Forside<span class="sr-only">(current)</span></a></li>
            <li><a href="/produkter">Produkter</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/kontakt-oss">Kontakt oss</a></li>
        </ul>
    </div>
</nav>
{{{body}}}
</body>
</html>
